/* Custom properties */
:root {
    --primary-color: #E0FF64;
    --secondary-color: #1F1F20;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Font declaration */
/* @font-face {
    font-family: '';
    src: url(../assets/fonts);
    font-weight: ;
} */


html {
    scroll-behavior: smooth;
}

body {
    font: 100%, 1/4, sans-serif;
    background-color: var(--primary-color);
    color: white;
}
h1 {
    color: var(--secondary-color);
}

h2 {
    padding-left: 1em;
    padding-top: 1em;
}
article {
    background: var(--secondary-color);
}

article ol{
    padding: 1em;
}




article p{
    max-width: 20em;
    padding: 1em;
    
}

