/* Custom properties */
:root {
    --primary-color: #E0FF64;
    --secondary-color: #1F1F20;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--secondary-color);
}

h2 {
    padding-bottom: 0.5em;
}

/* Font declaration */
/* @font-face {
    font-family: '';
    src: url(../assets/fonts);
    font-weight: ;
} */


html {
    scroll-behavior: smooth;
}

body {
    font: 100%, 1/4, sans-serif;
    background-color: var(--primary-color);
    color: white;
}

article {
    background: var(--secondary-color);
    padding: 1em;
}

article ol,ul{
    padding: 1em 0em;
}

article p{
    max-width: 25em;
}

