/* Custom properties */
:root {
    --black: black;
    --blue: #5145FF;
    --beige: #FFEDDC;
    --gray99: #3C3B34;
    /* --neon-green: #A5FE13; */
    --neon-green: #E1FF62;
    --font-title: 1.7em hk-heavy, 'sans-serif';
    --font-default: hk-regular, 'sans-serif';
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--secondary-color);
    /* font: var(--font-title); */
}

h2 {
    padding-bottom: 0.5em;
}

/* Font declaration */
@font-face {
    font-family: 'hk-heavy';
    src: url(../assets/fonts/Fontspring-DEMO-herokid-heavyexpanded.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'hk-regular';
    src: url(../assets/fonts/Fontspring-DEMO-herokid-regularexpanded.otf);
    font-weight: 500;
}


html {
    scroll-behavior: smooth;
}

body {
    font: var(--font-default);
    background-color: var(--primary-color);
    color: var(--black);
}
/* ----------------- */
/* Hero Section */
/* ----------------- */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--black);
    color: var(--neon-green);
    width: 100vw;
    height: 20em;
 }

 /* Span  */
 .company-name {
    position: absolute;
    top: 3.5em;
    left: -1.5em;
    vertical-align: middle;
    font-weight: bolder;
    background-color: var(--neon-green);
    color: var(--gray99);
    padding: 0.2em 0.8em;
    transform: rotate(-90deg);
    
 }

 /* Hero Intro Heading Level 1 */
 .hero-intro h1 {
    max-width: 6em;
    font-size: 3em;
    padding: 1em;
    
 }

 /* Hero Apply Button */
 .hero .call-to-action {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
 }

 .hero .call-to-action span {
    display: flex;
    align-items: center;
    font-style: oblique;
    /* font-weight: 100; */
    /* font-size: small; */
    margin-left: 1em;
 }

 .call-to-action .apply-button {
    padding: 1em 1em;
    background-color: var(--neon-green);
    border: none;
    color: var(--black);
    transition: ease 250ms;
 }

 .call-to-action a:hover {
    transform: translateY(-2px);
    background: var(--black);
    color: var(--neon-green);
    transition: transform 250ms ease-in-out;

 }

 /* Yellow banner - Five zero zero zero zero */

 .advertisement-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.6em;
    font-weight: bolder;
    color: var(--black);
    background-color: var(--neon-green);
    width: 100%;
    /* padding: 0.3em; */
    height: fit-content;
 }

 .advertisement-section .five-zero {
    text-align: center;
 }


 /* Main content */
article {
    background: var(--secondary-color);
    padding: 1em;
}

article ol,ul{
    padding: 1em 0em;
}

article p{
    max-width: 25em;
}

